@{
    List<Modelo> modelos = await this.repo.GetModelos();
    List<TipoMovilidad> tipoMovilidad = await this.repo.GetTipoMovilidad();
    List<FiltroCoche> filtroCoches = await this.repo.GetFiltroCoches();
    List<Provincia> provincias =  this.repo.GetProvincias();
}
<div class="container-fluid px-1 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
            <div class="card">
                <h5 class="text-center mb-4">Agregar nuevo coche</h5>
                <form class="form-card" method="post" enctype="multipart/form-data">
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Asientos<span class="text-danger"> *</span></label> <input type="number" class="form-control" id="lname" name="asientos" > </div>
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Maletas<span class="text-danger"> *</span></label> <input type="number" class="form-control" id="lname" name="maletas"> </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-6">
                            <label class="fw-bold">Modelo<span class="text-danger"> *</span></label>
                            <select class="form-select" name="modelo">
                                @foreach(Modelo mod in modelos)
                                {
                                 <option value="@mod.IdModelo">@mod.Nombre</option>
                                }
                            </select>
                        </div>
                        <div class="col-6">
                            <label class="fw-bold">Tipo Movilidad<span class="text-danger"> *</span></label>
                            <select class="form-select" data-bs-toggle="select"  name="tipomovi">
                                @foreach (TipoMovilidad tipo in tipoMovilidad)
                                {
                                    <option value="@tipo.IdTipo">@tipo.Nombre</option>
                                }
                            </select>
                        </div>
                    </div>
                    
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Puertas<span class="text-danger"> *</span></label> <input type="number" class="form-control" id="email" name="puertas" </div>
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Precio<span class="text-danger"> *</span></label> <input type="number" class="form-control" id="mob" name="precio"> </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-6">
                            <label class="fw-bold">Filtro<span class="text-danger"> *</span></label>
                            <select class="form-select" name="filtrocoche">
                                @foreach (FiltroCoche fil in filtroCoches)
                                {
                                    <option value="@fil.IdFiltro">@fil.Nombre</option>
                                }
                            </select>
                        </div>
                        <div class="col-6">
                            <label class="fw-bold">Provincia<span class="text-danger"> *</span></label>
                            <select class="form-select" data-bs-toggle="select" name="provincia">
                                @foreach (Provincia pro in provincias)
                                {
                                    <option value="@pro.IdProvincia">@pro.Nombre</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Imagen<span class="text-danger"> *</span></label> <input required type="file" name="imagen" class="form-control" /> </div>
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Valoracione<span class="text-danger"> *</span></label> <input type="hidden" class="form-control" id="lname" name="valoracion"> </div>

                    </div>
                    <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 submit">
                        <div class="form-group">
                            <input type="submit" class="btn btn-success" value="Enviar">
                        </div>
                    </div>
            </div>
                </form>
            </div>
        </div>
    </div>
</div>